
@media (max-width: 1420px){
  .page-logo{
    left: 10px;
    top: -6px;
  }
}
@media (max-width: 1366px){
  .logo__img{
    width: 50%;
  }
  .menu__list-link{
    font-size: 24px;
    line-height: 32px;
  }
  .page-header{
    height: 120vh;
  }
}
@media (max-width: 1200px){
  .heroes__inner{
    flex-wrap: wrap;
  }
  .heroes__slider-text{
    max-width: 100%;
    padding-top: 50px;
  }
  .heroes__slider-img{
    max-width: 100%;
  }
}
@media (max-width: 1088px){
  .seasons__item{
  height: 340px;
  }
}
@media (max-width: 992px){
  .page-logo {
    display: none;
  }
}
@media (max-width: 768px){
  .about__inner{
  flex-wrap: wrap;
  }

  .section-page{
    padding: 50px 0;
  }
  .title{
    margin-bottom: 50px;
  }
  body{
    font-size: 16px;
    line-height: 19px;
  }
  .video__text{
    font-size: 48px;
    line-height: 56px;
  }
  .video__text span {
    padding-right: 200px;
  }
  .video__btn {
    margin-right: 0;
    padding-left: 62px;
  }
  .video__btn::before {
    width: 50px;
    height: 50px;
    background-size: cover;
    top: -16px;
  }
  .seasons__inner{
    grid-gap: 80px 35px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
  }
  .slick-dots button {
    background: #fff;
    border: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 10px;
    outline: none;
    font-size: 0;

  }

  .slick-dots li[class="slick-active"] button {
    background: #85CCDC;
  }

  .heroes__name{
    font-size: 46px;
    text-align: center;
  }
  .season__info{
    flex-wrap: wrap;
  }
  .season-info{
    flex-wrap: wrap;
    padding: 30px 10px 0 10px;
  }
  .season-info__num{
    text-align: left;
    font-size: 50px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .season-info__num span{
    font-size: 25px;
    line-height: 32px;

  }
}

@media (max-width: 640px){

  .menu__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-130%);
    transition: all .3s;

  }
  .menu__list.menu__list--active{
    transform: translateY(0%);
    background: #0e0e0e;
  }


  .menu__list-link{
    display: block;
    padding: 10px 0;

  }

  .logo{
    padding-top: 21vh;
    top:22px;
  }
  .page-logo {
    display: block;
    z-index: 10;
  }
  .page-header{
    height: 160vh;
  }
  .menu__btn {
    display: block;
    width: 50px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    border: none;

  }
  .menu__btn span {
    background-color:#fff;
    height: 5px;
    width: 100%;

  }
  .menu__btn ::after,
  .menu__btn ::before{
    content: "";
    width: 100%;
    height: 5px;
    background-color:#fff;
    position: absolute;
  }
  .menu__btn ::before{
    top: 0;
    left: 0;
  }
  .menu__btn ::after{
    bottom: 0;
    left: 0;
  }

}
@media (max-width: 414px){
  .seasons__item {
    height: 203px;
  }
@media (max-width: 414px){
.page-header{
  height: 160vh;
}
}

}